<!DOCTYPE html>
<html ng-app="ProductListing">
  <head>
    <title >ProductListing</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <%= link_to "Product Listing app", root_path, id: "logo" %>
      </div>
    </header>
    <div class="container" ng-view>
      <%= yield %>
    </div>
  </body>
</html>
